#titulo {
    background-color: #17408B;
    font-size: 40px;
    font-family: Papyrus;
    
}
#header-equipos {
    background-color: #c9082A;
}

#cuerpo {
    background-color: #17408B;
}

#label {
    background-color: #c9082A;
    font-family: Papyrus;
}