<ion-header>
  <ion-toolbar>
    <ion-title>Sobre el desarrollador</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeModal()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<div id="parrafo1"><p><font color="white">Esta aplicación esta desarrollada</font></p>
<p><font color="white">por Adrian Jimenez Montilla,</font></p>
<p><font color="white">alumno del IES Campanillas,</font></p></div>
<div id="parrafo2"><p><font color="white">cursando 2º de DAM.</font></p>

<p><font color="white">Esta aplicacion esta desarrollada en ionic 4</font></p></div>






<h2 id="git"><p><a href="https://github.com/AdrianJimenezMontilla">Mi Github</a></p></h2>


<ion-content>

</ion-content>
