<ion-header id="header-equipos">
    <ion-toolbar>
      <ion-title id="titulo">
      <font color="white">Plantilla</font>
      </ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-button class="f" size="small" slot="end" (click)="openModal()">Sobre mi</ion-button>
    <ion-button class="s" size="small" href ="/guardar"> Favoritos</ion-button>
  </ion-header>

<ion-content class="ion-text-center">
    <div class="ion-padding" id="cuerpo">
    <ion-list>
      <ion-item-divider></ion-item-divider>
      <div *ngFor="let j of jugadores">
        <ion-item *ngIf="j.equipo == 'Los Angeles Lakers'">
          <div (click)="muestraDetalles(j.nombre)">
            <ion-img src="assets/img/{{ j.foto }}"></ion-img>
            <h1>{{ j.nombre }}</h1>
            
            <div *ngIf="isClicked && jugadores[index].nombre == j.nombre" class="detalles">
              <h2> Edad:
                 {{ j.edad }}
              </h2>
              <h2> Altura:
                 {{ j.altura }}
              </h2>
              <h2> Peso:
                 {{ j.peso }}
              </h2>
              <h2>
                <ion-icon name="basketball"> </ion-icon> {{ j.posicion}}
              </h2>
              

            </div>
          </div>
        </ion-item>
        <ion-item-divider></ion-item-divider>
      </div>
    </ion-list>
    </div>
  </ion-content>
