
#titulo {
    background-color: #17408B;
    font-size: 40px;
    font-family: Papyrus;
    
}
#header-equipos {
    background-color: #c9082A;
}
.f {
    margin-right: 11.9em;
}
#logo {
    margin-left: -0.18em;

}
#cuerpo {
    background-color: #17408B;
}

